version: '3.8'

services:

  user-service:
    build:
      context: ./internal/modules/user
      dockerfile: Dockerfile
    image: user-service
    container_name: user-service
    restart: always
    command: "./user --discovery consul:8500"
    ports:
      - "8080:8080"
      - "10001:10001"

  user-db:
    container_name: user-db
    image: cockroachdb/cockroach:v20.1.7
    restart: always
    ports:
      - "26257:26257"
      - "3500:8080"
    volumes:
      - "./volume/user-db-data:/cockroach/cockroach-data"
    command:
      - "start-single-node"
      - "--insecure"

  nats:
    image: "nats:2.1.4" # This is the latest version at the moment.
    container_name: nats
    restart: always
    ports:
      - "4222:4222"

  session-service:
    build:
      context: ./internal/modules/session
      dockerfile: Dockerfile
    image: session-service
    container_name: session-service
    restart: always
    command: "./session --discovery consul:8500"
    ports:
      - "8090:8090"
      - "10002:10002"

  session-db:
    container_name: session-db
    image: cockroachdb/cockroach:v20.1.7
    restart: always
    ports:
      - "25555:26257"
      - "3505:8080"
    volumes:
      - "./volume/session-db-data:/cockroach/cockroach-data"
    command:
      - "start-single-node"
      - "--insecure"