version: '3.8'

networks:
  user-modules:

volumes:
  user-data:

services:

  user-db-main:
    container_name: user-db
    image: cockroachdb/cockroach:v20.1.7
    ports:
      - "26257:26257"
      - "8080:8080"
    volumes:
      - ./volume/user-db1-data:/cockroach/cockroach-data
    command: start-single-node --insecure
    networks:
      - user-modules
