version: '3.8'

services:

  back-template:
    build:
      context: .
      dockerfile: Dockerfile
    image: back-template
    container_name: back-template
    restart: always
    command: "./back-template"
    volumes:
      - "./cfg.json:/bin/cfg.json"
    environment:
      - "CONFIG_FILE_PATH=cfg.json"
    ports:
      - "15000:15000" # user-svc
      - "20000:20000" # user-svc-metric
      - "15002:15002" # file-svc
      - "20002:20002" # file-svc-metric

  user-db:
    container_name: user-db
    image: cockroachdb/cockroach:v20.2.4
    restart: always
    ports:
      - "26257:26257"
    volumes:
      - "./volume/user-db-data:/cockroach/cockroach-data"
    command:
      - "start-single-node"
      - "--insecure"

  session-db:
    container_name: session-db
    image: cockroachdb/cockroach:v20.2.4
    restart: always
    ports:
      - "26258:26257"
    volumes:
      - "./volume/session-db-data:/cockroach/cockroach-data"
    command:
      - "start-single-node"
      - "--insecure"

  file-db:
    container_name: file-db
    image: cockroachdb/cockroach:v20.2.4
    restart: always
    ports:
      - "26259:26257"
    volumes:
      - "./volume/file-db-data:/cockroach/cockroach-data"
    command:
      - "start-single-node"
      - "--insecure"