version: '3.8'

services:

  user-service:
    build:
      context: .
      dockerfile: microservices/user/Dockerfile
    image: user-service
    container_name: user-service
    restart: always
    command: "./user"
    environment:
      - "DB_NAME=postgres"
      - "DB_USER=root"
      - "DB_PASS=root"
      - "DB_HOST=user-db"
      - "DB_PORT=26257"
      - "NATS=nats:4222"
      - "SESSION_SRV=session-service:8090"
      - "MIGRATE=true"
    ports:
      - "8080:8080"

  user-db:
    container_name: user-db
    image: cockroachdb/cockroach:v20.2.4
    restart: always
    ports:
      - "26257:26257"
      - "3500:8080"
    volumes:
      - "./volume/user-db-data:/cockroach/cockroach-data"
    command:
      - "start-single-node"
      - "--insecure"

  nats:
    image: "nats:2.1.4" # This is the latest version at the moment.
    container_name: nats
    restart: always
    ports:
      - "4222:4222"

  session-service:
    build:
      context: .
      dockerfile: microservices/session/Dockerfile
    image: session-service
    container_name: session-service
    restart: always
    command: "./session"
    environment:
      - "DB_NAME=postgres"
      - "DB_USER=root"
      - "DB_PASS=root"
      - "DB_HOST=session-db"
      - "DB_PORT=26257"
      - "AUTH_KEY=super-duper-secret-key-for-tests"
      - "USER_SRV=user-service:8090"
      - "MIGRATE=true"
    ports:
      - "8081:8080"

  session-db:
    container_name: session-db
    image: cockroachdb/cockroach:v20.2.4
    restart: always
    ports:
      - "25555:26257"
      - "3505:8080"
    volumes:
      - "./volume/session-db-data:/cockroach/cockroach-data"
    command:
      - "start-single-node"
      - "--insecure"
