name: CI_FILE

on:
  push:
    paths:
      - 'cmd/file/*'
    branches:
      - main
  pull_request:
    paths:
      - 'cmd/file/*'
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.41.0
          working-directory: cmd/file/

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.16

      - name: Checkout repository.
        uses: actions/checkout@v2

      - name: Start test.
        run: go test -race ./cmd/file/...
