name: CI_SESSION

on:
  push:
    paths:
      - 'microservices/session/*'
    branches:
      - main
  pull_request:
    paths:
      - 'microservices/session/*'
    branches:
      - main

jobs:
  lint:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.37.1

  test:
    runs-on: self-hosted
    needs: lint
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.16

      - name: Checkout repository.
        uses: actions/checkout@v2

      - name: Start test.
        run: go test -covermode=count -coverprofile=coverage.out ./microservices/session/...

      - name: Convert coverage.out to coverage.lcov
        uses: jandelgado/gcov2lcov-action@v1.0.6

      - name: Coveralls
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.github_token }}
          path-to-lcov: coverage.lcov
