name: CI_USER

on:
  push:
    paths:
      - 'microservices/user/*'
    branches:
      - main
  pull_request:
    paths:
      - 'microservices/user/*'
    branches:
      - main

jobs:
  lint:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.37.1

  test:
    runs-on: self-hosted
    needs: lint
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.16

      - name: Checkout repository.
        uses: actions/checkout@v2

      - name: Start test.
        run: go test -race ./microservices/user/...